<a href="https://colab.research.google.com/github/kelseypeltz/Black-Jack-Project/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive
/content/drive/My Drive

In [43]:
!git clone https://github.com/kelseypeltz/Black-Jack-Project.git

Cloning into 'Black-Jack-Project'...
remote: Enumerating objects: 88, done.
remote: Counting objects: 100% (88/88), done.
remote: Compressing objects: 100% (74/74), done.
remote: Total 88 (delta 29), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (88/88), done.

In [44]:
!ls Black-Jack-Project

code  data  README.md

In [50]:
%cd Black-Jack-Project
%cd data

[Errno 2] No such file or directory: 'Black-Jack-Project'
/content/drive/MyDrive/Black-Jack-Project/Black-Jack-Project
/content/drive/MyDrive/Black-Jack-Project/Black-Jack-Project/data

In [51]:
!head blackjack_strategies.csv

score,score_dealer,hard,decision,earn,earn_if_stand,earn_if_double,earn_if_hit,should_split
20,11,TRUE,stand,0.105197120007505,0.105197120007505,-1.75271465090645,-0.876357325453224,FALSE
20,10,TRUE,stand,0.436741686281078,0.436741686281078,-1.70908962684133,-0.854544813420665,FALSE
20,9,TRUE,stand,0.759325450305282,0.759325450305282,-1.70116370369502,-0.850581851847512,FALSE
20,8,TRUE,stand,0.793191749283466,0.793191749283466,-1.70297890335009,-0.851489451675046,FALSE
20,7,TRUE,stand,0.773225870786846,0.773225870786846,-1.70001994392238,-0.850009971961191,TRUE
20,6,TRUE,stand,0.676074578802446,0.676074578802446,-1.70245484668876,-0.851227423344379,TRUE
20,5,TRUE,stand,0.669858318906123,0.669858318906123,-1.7035414384812,-0.851770719240599,TRUE
20,4,TRUE,stand,0.654962815482813,0.654962815482813,-1.70802834221467,-0.854014171107337,TRUE
20,3,TRUE,stand,0.647613600550932,0.647613600550932,-1.70121275080831,-0.850606375404153,TRUE

In [56]:
import pandas as pd
strategy_df = pd.read_csv('blackjack_strategies.csv')
strategy_df.head()

,score,score_dealer,hard,decision,earn,earn_if_stand,earn_if_double,earn_if_hit,should_split
0,20,11,True,stand,0.105197,0.105197,-1.752715,-0.876357,False
1,20,10,True,stand,0.436742,0.436742,-1.709090,-0.854545,False
2,20,9,True,stand,0.759325,0.759325,-1.701164,-0.850582,False
3,20,8,True,stand,0.793192,0.793192,-1.702979,-0.851489,False
4,20,7,True,stand,0.773226,0.773226,-1.700020,-0.850010,True

In [63]:
strategy_df['equation'] = strategy_df.score - strategy_df.score_dealer
strategy_df.loc[strategy_df['equation']<0, 'Outcome'] = 'Won'
strategy_df.loc[strategy_df['equation']>0, 'Outcome'] = 'Lost'
strategy_df.loc[strategy_df['equation']==0, 'Outcome'] = 'Stand off'
strategy_df.Outcome.value_counts()

Lost         244
Won           45
Stand off     11
Name: Outcome, dtype: int64