<a href="https://colab.research.google.com/github/kelseypeltz/Black-Jack-Project/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
from google.colab import drive
drive.mount('/content/drive')
%cd /content/drive/My Drive
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/My Drive
/content/drive/My Drive

In [56]:
import pandas as pd
import numpy as np
strategy_df = pd.read_csv('blackjack_strategies.csv')
strategy_df.head()

,score,score_dealer,hard,decision,earn,earn_if_stand,earn_if_double,earn_if_hit,should_split
0,20,11,True,stand,0.105197,0.105197,-1.752715,-0.876357,False
1,20,10,True,stand,0.436742,0.436742,-1.709090,-0.854545,False
2,20,9,True,stand,0.759325,0.759325,-1.701164,-0.850582,False
3,20,8,True,stand,0.793192,0.793192,-1.702979,-0.851489,False
4,20,7,True,stand,0.773226,0.773226,-1.700020,-0.850010,True

In [63]:
strategy_df['equation'] = strategy_df.score - strategy_df.score_dealer
strategy_df.loc[strategy_df['equation']<0, 'Outcome'] = 'Won'
strategy_df.loc[strategy_df['equation']>0, 'Outcome'] = 'Lost'
strategy_df.loc[strategy_df['equation']==0, 'Outcome'] = 'Stand off'
strategy_df.Outcome.value_counts()

Lost         244
Won           45
Stand off     11
Name: Outcome, dtype: int64